<h1>Send an Invite</h1>
<section>
  <%= form_for :invitation, url: send_invite_path do |f| %>
    <div>
      <%= f.label :github_handle %>
      <%= f.text_field :github_handle, class: "block col-12 field" %>
    </div>
    <%= f.submit 'Send Invite', class: "mt2 btn btn-primary mb1 bg-teal" %>
  <% end %>
</section>